<div class="container">
    <div *ngFor="let actual of paginaSecundaria">
        <div class="container">
            <div class="col-12">
                <div class="alert alert-primary" role="alert" align="CENTER">
                    <H1>{{actual.slider}}</H1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-12 alert alert-secondary bg-light border-dark">
                                    <h4>{{actual.texto}}</h4>
                                    <img src="{{srcImagen}}" alt="Imagen" width='450px'>
                                    <h6>{{actual.descripcion}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-group">
                                <div class="card alert alert-secondary bg-light border-dark">
                                    <!--<div>
                                        <img class="card-img-top">aqui la foto {{actual.idFoto}}
                                    </div>-->

                                    <div class="card-footer alert alert-secondary">
                                        <small class="text-muted">{{actual.texto}}</small>
                                    </div>
                                </div>
                                <div class="card alert alert-secondary bg-light border-dark">
                                    <!-- <div>
                                        <img class="card-img-top">aqui la pagina {{actual.idFoto}}
                                    </div>-->

                                    <div class="card-footer alert alert-secondary">
                                        <small class="text-muted">{{actual.texto}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>