<div class="card-body">
    <ul class="timeline">
        <li class="timeline-inverted">
            <div class="timeline-badge warning">
                <i class="fa fa-handshake-o"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Vinculación</h4>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i>hace 4 minutos</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Aqui va un poco de informacion</p>
                    <a href="./vinculacion">Este link lleva a Vinculacion</a>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger">
                <i class="fa fa-info-circle"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Investigacion</h4>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i>hace 4 minutos</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Aqui va un poco de informacion</p>
                    <a href="./investigacion">Este link lleva a Investigacion</a>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge info">
                <i class="fa fa-suitcase"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Portafolio Docente</h4>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i>hace 4 minutos</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Aqui va un poco de informacion</p>
                    <a href="">Este link lleva a Portafolio Docente</a>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge">
                <i class="fa fa-book"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Biblioteca</h4>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i>hace 4 minutos</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Aqui va un poco de informacion</p>
                    <a href="">Este link lleva a la Biblioteca</a>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success">
                <i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Bolsa de Empleo</h4>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i>hace 4 minutos</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Aqui va un poco de informacion</p>
                    <a href="./bolsa-empleo">Este link lleva a Bolsa de Empleo</a>
                </div>
            </div>
        </li>
    </ul>
</div>