<div style="background-color: rgb(146,145,145)">
    <div class="container" style="background-color: rgb(255, 255, 255)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert" align="CENTER">
                        <H1>ELECTRICIDAD</H1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card border-dark mb-3 bg-light text-justified">
                        <img src="../assets/images/" alt="Esperando imagen">
                        <div class="card-body">
                            <h3 class="card-title">CONTENIDO</h3>
                            <p class="card-text">CONTENIDO</p>
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="card border-dark text-justified">
                            <img class="card-img-top" src="..." alt="Esperando imagen">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">CONTENIDO
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card border-dark">
                            <img class="card-img-top" src="..." alt="Esperando imagen">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">CONTENIDO</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card border-dark">
                            <img class="card-img-top" src="..." alt="Esperando imagen">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">CONTENIDO</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="p-3 mb-2 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <td style="color:#fcfcfc">
                        <div class="sp-title-block">
                            <h3>Contacto</h3>
                        </div>
                        <div class="sp-contacts-widget ">
                            <ul>
                                <li>
                                    <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                                <li>
                                    <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                                <li>
                                    <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                            </ul>
                        </div>
                    </td>
                </div>
                <div class="col-2">
                    
                </div>
                <div class="col-6">
                    <td style="color:#ffffff" align="left">
                        <div class="sp-contacts-widget ">
                            <ul>
                                <br>
                                <br>
                                <li>
                                    <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                                <li>
                                    <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                            </ul>
                        </div>
                        <div class="pull-right">

                        </div>
                    </td>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
                    </div>
                    <div class="col-5">

                        <div class="redes-footer" ALIGN="left">
                            ENCUENTRANOS EN LAS REDES:
                            <a href="https://www.facebook.com/">
                                <img src="../assets/images/facebook.png" width="6%" height="auto">
                            </a>
                            <a href="https://twitter.com/">
                                <img src="../assets/images/twitter.png">
                            </a>
                            <a href="https://www.youtube.com/channel/UCez91Dz7oFrWrApbBCccZag">
                                <img src="../assets/images/youtube icon.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>