<div style="background-color:rgb(146, 145 ,145);">
        <div class="container" style="background-color:rgb(255,255,255)">
            <div class="container">
                <br/>
                <div class="col-12">
                    <div class="alert alert-light" role="alert" align="center">
                        <H1>ANALISIS DE SISTEMAS</H1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12" align="center">
                            <img class="card-img-top" src="..." width="30%" height="auto" alt="esperando imagen">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 alert alert-secondary bg-light border-dark">
                                <h4>OBJETIVOS</h4>
                                <p>CONTENIDO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card-group">
                            <div class="card alert alert-secondary bg-light border-dark">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">CONTENIDO</h5>
                                    <p class="card-text"></p>
                                </div>
                                <div class="card-footer alert alert-secondary bg-light border-dark">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card alert alert-secondary bg-light border-dark">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                                <div class="card-footer alert alert-secondary bg-light border-dark">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card alert alert-secondary bg-light border-dark">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                                <div class="card-footer alert alert-secondary bg-light border-dark">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <td style="color:#fcfcfc">
                            <div class="sp-title-block">
                                <h3>Contacto</h3>
                            </div>
                            <div class="sp-contacts-widget ">
                                <ul>
                                    <li>
                                        <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                                    <li>
                                        <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                                    <li>
                                        <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                                </ul>
                            </div>
                        </td>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-6">

                        <td style="color:#ffffff" align="left">
                            <div class="sp-contacts-widget ">
                                <ul>
                                    <br>
                                    <br>
                                    <li>
                                        <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                                    <li>
                                        <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                                </ul>
                            </div>
                            <div class="pull-right">

                            </div>
                        </td>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
                        </div>
                        <div class="col-5">

                            <div class="redes-footer" ALIGN="left">
                                ENCUENTRANOS EN LAS REDES:
                                <a href="https://www.facebook.com/">
                                    <img src="../assets/images/facebook.png" width="6%" height="auto">
                                </a>
                                <a href="https://twitter.com/">
                                    <img src="../assets/images/twitter.png">
                                </a>
                                <a href="https://www.youtube.com/channel/UCez91Dz7oFrWrApbBCccZag">
                                    <img src="../assets/images/youtube icon.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
